body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}

.hero {
  margin-top: 80px;
  text-align: center;
  padding: 40px;
}

.hero img {
  width: 300px;
  border-radius: 10px;
}

.about {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.about img {
  width: 200px;
  border-radius: 10px;
}

#menuGrid, #galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}